.login{
    height:30%;
    width:80%;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 0.5vw;
}

.cred-form{
    background-color: transparent;
    border-radius: 0.5vw;
    border-style: solid;
    border-color: snow;
    width: 97.5%;
    color: snow;
    font-size: 1vw;
}

.login-go{
    background-color: #007AFF;
    border-radius: 0.5vw;
    border-color: transparent;
    border-style: solid;
    width:80%;
    color: snow;
    font-size: 1vw;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-create{
    background-color: transparent;
    color: #007AFF;
    font-size: 0.75vw;
    font-weight: 475;
    padding-bottom: 4%;
    text-decoration: underline;
}

.login-create:hover {
    cursor: pointer;
}

.login-go:hover {
    cursor: pointer;
}

.to-do-ui{
    overflow-y: scroll;
    height: 100%;
}

.to-do-ui::-webkit-scrollbar{
    display: none
}

.task{
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 0.5vw;
    display:flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-left: 0%;
    justify-content: space-between;
}

.task-text{
    margin-left: 3%;
    display: flex
}

.task-text p{
    font-size: 1.2vw;
}

.task-title{
    font-weight: 700;
    width: max-content;
    white-space: nowrap;
}

.task-time{
    margin-left: 3%;
    white-space: nowrap;
    color: rgb(255, 250, 250, 0.500);
}

.task-done{
    display:flex;
    align-items: center;
    margin-right: 3%;
    width: 4.5%;
}

.task-button{
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    height: 1.8vw;
    background-color: transparent;
    border-color: snow;
    border-style:solid;
    border-radius: 0.5vw;
    border-width: 0.2vw;
}

.task-button:hover{
    cursor:pointer;
    background-color: snow;
}

.new-input{
    background: transparent; 
    border-color: transparent;
    color: snow;
    font-size: 1.2vw;
    margin-top: 0.95em;
    margin-bottom: 0.95em;
    margin-left: 2.2%;
    margin-right: 0;
    font-weight: 700; 
    border-bottom-color: snow;
}

.new-input::placeholder{
    color:rgb(255, 250, 250, 0.500);
    font-weight: normal;
}