

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  color:rgb(255, 250, 250);
}

form {
  font-size: 1.5vw;
}
button {
  font-size: 0.8vw;
}

h2 {
  margin-top: 0%;
  font-size: 1.5vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
